# Strings

## 1. Printing

In [9]:
s='Sentences words & letters'
s

'Sentences words & letters'

In [18]:
s='The sentence can contain " " i.e. double quotes'
s

'The sentence can contain " " i.e. double quotes'

In [16]:
s="Sentences words & letters"
s

'Sentences words & letters'

In [14]:
s="Sentences can contain ' ' i.e. single quotes"
s

"Sentences can contain ' ' i.e. single quotes"

In [18]:
s="""Sentences, words & letters '' " " """ 
s

'Sentences, words & letters \'\' " " '

In [28]:
print(s)
print("""Sentences, words & letters '' " " """)

Sentences, words & letters '' " "
Sentences, words & letters '' " "

To use quotes in our string, use other type of quotes as the outer one. 
Simply stating the value of string & printing causes difference. Quotes gets removed when getting printed.

In [128]:
format = "%s"
message = "hello"
print(format %message)

hello

In [10]:
format="%d"
me=5
print(format %me)

5

In [14]:
format="%d"
message = "hello"
print(format %message)

TypeError: %d format: a number is required, not str

In [13]:
format="%s"
print(format %me)

5

We can format an integer as a string while not the other way around.

### HEX Representation & Escape

In [135]:
print("He said, \"What's there?\"")

He said, "What's there?"

In [22]:
print("He said \"\\\"\"what's there\"")

He said "\""what's there"

In [24]:
print("C:\\Python32\\Lib")

C:\Python32\Lib

In [25]:
print("This is \x48\x45\x58 representation")

This is HEX representation

In [27]:
print("This is \x61 \ngood example")

This is a
good example

In [28]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example

## 2. String Index Operations

In [30]:
len(s)

34

In [33]:
s[30]

'"'

In [19]:
#String can be indexed in Python but value at index can't changed since immutable
print(s[30])

"

In [36]:
s[1:]

'entences, words & letters \'\' " " '

In [39]:
s[:15]

'Sentences, word'

In [65]:
s[:-9]

'Sentences, words & letter'

In [45]:
s[-9]   #9th index from the end i.e len(s)-9

's'

In [51]:
s[len(s)-9]

's'

In [53]:
s[len(s)-9]==s[-9]

True

In [54]:
for i in range(1,len(s)):
    print(s[len(s)-i]==s[-i])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [57]:
s[::2]  #iterates over the string taking 2 steps instead of one

'Snecs od  etr \'""'

In [59]:
s[::3]

'Stc,os tr\'" '

In [61]:
s[::-3]  #Iterates over the reverse of the string taking 3 steps

' "\'rt so,ctS'

In [67]:
s[::-1]   #We get to print the reverse of the string through this

' " " \'\' srettel & sdrow ,secnetneS'

In [71]:
palan = ["Mom","Dad","Nun","MALAyaLaM","HONEYENOH","California"]
palan[1].lower()

'dad'

In [30]:
#Other way is to simply use reversed function which you can see further down
palan = ["Mom","Dad","Nun","MALAyaLaM","HONEYENOH","California"]
for i in palan:
    if(i.lower()==i[::-1].lower()):
        print(i," : Palandrome")
    else:
        print(i," : Not Palandrome")

Mom  : Palandrome
Dad  : Palandrome
Nun  : Palandrome
MALAyaLaM  : Palandrome
HONEYENOH  : Palandrome
California  : Not Palandrome

In [79]:
#strings are immutable
s="Hello"
s[2]='G'

TypeError: 'str' object does not support item assignment

: -> Position cut off [Negative number means from the end but the string isn't reversed since traversal from beginning]

:: -> Iterative Steps [Negative number means reverse - steps taken from the end which ends up being reverse if -1]

## 3. join, split, replace, lower, upper, istitle, isnumeric, +, *

In [21]:
#To avoid the error above due to the immutable nature of strings, we can make use of lists
#or we can simply use replace function as used below
s = "Hello"
l1 = list(s)
l1[2] = 'G'
s = ''.join(l1) #Here join and + is different
print(s)

HeGlo

In [126]:
#Another way to edit the string 
"horid hello".replace("horid",'hello')

'hello hello'

In [97]:
#Note: The parameter not included in the splitted strings
s.split('H')

['', 'eGlo', 'ello', 'elloholl', 'ELLholl', 'ELL']

In [94]:
#List containing the string in multiple parts where they are separated by the parameter we give in split()
s.split()

['HeGloHelloHellohollHELLhollHELL']

In [7]:
#Join is the opposite of split
string="Hello how is life?"
print(" ".join(string))
print(" ".join(reversed(string)))
print(" ".join(["str1","str2","str3"]))
print("a".join(["str1","str2","str3"]))
print("".join(["str1","str2","str3"]))

H e l l o   h o w   i s   l i f e ?
? e f i l   s i   w o h   o l l e H
str1 str2 str3
str1astr2astr3
str1str2str3

In [116]:
s=''+"Hello"
print(s,s[0])

Hello H

In [113]:
s="aa "+"Hello".lower()
print(s)

aa hello

In [117]:
#Here every character in the string joined by what we are joining with. It is not the other way around since the first character is that of the parameter "Hello". 
print(" ".join('hello'))

h e l l o

In [83]:
s+="Hello"
print(s)

HeGloHelloHello

In [85]:
print(s+"Hool")

HeGloHelloHelloHool

In [87]:
print(s+"Hool".lower())

HeGloHelloHellohool

In [89]:
s+="HOLL".lower()+"hell".upper()
print(s)

HeGloHelloHellohollHELLhollHELL

In [91]:
#The string when multiplied with an integer literally multiplies the string in number not ASCII values or any other way. 
print(s*2)

HeGloHelloHellohollHELLhollHELLHeGloHelloHellohollHELLhollHELL

In [99]:
s

'HeGloHelloHellohollHELLhollHELL'

In [104]:
#True value <- 1 False value <- 0 when numeric operants used on boolean values
num="2453632"
word="Cali"
print(num.isnumeric())
print(word.isnumeric())
print(word.isnumeric()*num.isnumeric())

True
False
0

In [106]:
print(word.isnumeric()*num.isnumeric()==0)

True

In [119]:
"Hello".istitle()

True

In [121]:
"hello".istitle()

False

## 4. format() & fromkeys()

In [31]:
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)
# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)
# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [32]:
vowels = 'aeiou'
# change this value for a different result
ip_str = 'Hello, have you tried our turorial section yet?'
# uncomment to take input from the user
#ip_str = input("Enter a string: ")
# make it suitable for caseless comparisions
ip_str = ip_str.casefold()
# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)
# count the vowels
for char in ip_str:
    if char in count:
         count[char] += 1
print(count)

{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}